#container .content {
  padding: 170px 0 80px;
}
#container .content_inner {
  max-width: 1170px;
  margin: 0 auto;
}

#container h2 {
  text-align: center;
  font-size: 40px;
  color: var(--gray-600);
  font-weight: 700;
  padding: 80px 0;
}
#container .board_top {
  display: flex;
  justify-content: space-between;
}
/*** 게시판 - 총 게시글 수 ***/
#container .board_total {
  color: var(--gray-400);
  margin-top: 17px;
}
#container .board_total strong {
  font-weight: 700;
  color: var(--point-color2);
  margin-left: 3px;
}
/*** 게시판 - 검색 ***/
#container .searchField {
  border: 2px solid #ddd;
  height: 41px;
  width: 100px;
  color: var(--gray-400);
  padding: 0 10px;
  position: relative;
  background: url(/images/drop_down_arrow.svg) no-repeat right 5px top 50%;
  cursor: pointer;
}
#container .searchWord {
  border: 2px solid #ddd;
  background: none;
  height: 41px;
}
#container .search_btn {
  border: 2px solid #ddd;
  background: url(/images/search.svg) no-repeat 50%;
  height: 41px;
  width: 41px;
  color: var(--gray-400);
  cursor: pointer;
}
/*** 게시판 - 목록 ***/
#container .board {
  border-top: 4px solid #005ad5;
  margin-top: 10px;
}
#container .board tr {
  height: 75px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  color: var(--gray-600);
  font-size: 16px;
}
#container .board th {
  color: var(--point-color2);
  border-bottom: 2px solid #005ad5;
}
#container .board .num {
  color: var(--point-color1);
  font-weight: 700;
}
#container .board .title {
  text-align: left;
  padding: 0 20px;
}
#container .board .intro {
  font-size: 13px;
  color: var(--gray-400);
  margin-top: 5px;
  /*** 말줄임처리 ***/
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*** 게시판 - 작성 버튼 ***/
#container .write_btn {
  width: 100%;
  margin-top: 10px;
  position: relative;
}
#container .write_btn button {
  background: var(--point-color2);
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 80px;
  height: 41px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
}



/*** 게시판 - 페이지네이션 ***/
#container .pagination {
  margin-top: 30px;  
  width: 100%;
}
#container .pagination_inner {
  display: flex;
  justify-content: center;
  vertical-align: center;
  text-align: center;
  gap: 0 20px;
}
#container .pagination a {
  font-weight: 700;
  font-size: 18px;
  color: #bbb;
  display: block;
  width: 24px;
  height: 24px;
}
#container .pagination a:hover {
  color: var(--point-color2);
}
#container .pagination p {
  font-weight: 700;
  font-size: 18px;
  color: var(--point-color2);
  display: block;
  width: 24px;
  height: 24px;
}