#container .content {
  padding: 170px 0 80px;
}
#container .content_inner {
  max-width: 1170px;
  margin: 0 auto;
}

#container h2 {
  text-align: center;
  font-size: 40px;
  color: var(--gray-600);
  font-weight: 700;
  padding: 80px 0;
}
/*** 게시판 - 상세보기 ***/
#container .board {
  border-top: 4px solid #005ad5;
  border-bottom: 4px solid #005ad5;
  margin-top: 10px;
}
#container .board tr {
  height: 70px;
  border-bottom: 1px solid #ddd;
  color: var(--gray-600);
  font-size: 16px;
}
#container .board td {
  padding: 0 20px;
}
#container .board .left {
  background: #eee;
  font-weight: 700;
  text-align: center;
}
#container .board .board_content {
  height: 500px;
}
/*** 뒤로가기, 수정하기, 삭제하기 버튼 ***/
#container .board_btn {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 0 10px;
}
#container .board_btn button {
  background: var(--point-color2);
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 41px;
  padding: 0 10px;
}
/*** 좋아요, 신고 버튼 ***/
#container .like_btn {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  gap: 0 10px;
}
#container .like_btn button {
  color: var(--point-color2);
  background: none;
  border: 2px solid #005ad5;
  border-radius: 5px;
  width: 80px;
  height: 41px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container .like_btn button>p {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

#container .like_btn button>.like {
  background: url(/images/like_blue.svg) no-repeat 0 0 / 100%;
}
#container .like_btn button>.dislike {
  background: url(/images/dislike_blue.svg) no-repeat 0 0 / 100%;
}
/*** 좋아요, 신고 버튼 눌렀을 때 ***/
#container .like_btn button.push {
  color: #fff;
  background: var(--point-color2);
  border: none;
}
#container .like_btn button.push>.like {
  background-image: url(/images/like_white.svg);
}
#container .like_btn button.push>.dislike {
  background: url(/images/dislike_white.svg);
}


/*** 댓글 작성 버튼 ***/
#container .comment_btn {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
}
#container .comment_btn button {
    background: #bbb;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 41px;
    padding: 0 10px;
    margin-right: 20px;
}



/*** 댓글 ***/
#container .comment {
  border-top: 4px solid #ddd;
  border-bottom: 4px solid #ddd;
  margin-top: 10px;
}
#container .comment tr {
  height: 70px;
  border-bottom: 1px solid #ddd;
  color: var(--gray-600);
  font-size: 16px;
}
#container .comment th,
#container .comment td {
  padding: 0 20px;
}
#container .comment .writer {
  font-weight: 700;
}
/*** 댓글 - 수정, 삭제 버튼 ***/
#container .comment .comm_btn {
  display: flex;
  gap: 0 10px;
  justify-content: center;
  padding: 15px 0;
}
#container .comment .comm_btn button {
  background: #bbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 41px;
}