#container {
	margin-top: 170px;
    position: relative;
    min-width: 1280px;
}




/*** 서브 헤더 ***/
#container .sub_header {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	border-bottom: 1px solid #e5e5e5;
	height: 59px;
	z-index: 5;
}

#container .sub_header .sub_content {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

#container .sub_header .sub_content .sub_loc {
	text-align: center;
}

#container .sub_header .sub_content .sub_loc ul {
	overflow: hidden;
	display: inline-block;
}

#container .sub_header .sub_content .sub_loc ul li {
	float: left;
	position: relative;
}

#container .sub_header .sub_content .sub_loc ul li:first-child {
	margin-left: 0;
	padding-left: 0;
}

#container .sub_header .sub_content .sub_loc ul li a {
	display: block;
	line-height: 60px;
	color: #999999;
	font-size: 16px;
	position: relative;
	cursor: pointer;
}

#container .sub_header .sub_content .sub_loc ul li.active a {
	color: var(--point-color2);
	font-weight: 500;
}

#container .sub_header .sub_content .sub_loc ul li.active a:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: var(--point-color2);
}

#container .sub_header .sub_content .sub_loc ul li + li {
	padding-left: 24px;
	margin-left: 21px;
}

#container .sub_header .sub_content .sub_loc ul li + li:after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 28px;
}








#container .content {
	padding-top: 0;
	position: relative;
	z-index: 3;
}

#container .content .board_wrap {
	padding-top: 130px;
	position: relative;
	padding-bottom: 130px;
}

#container .content .board_wrap .board {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
	
	
	/* 이거 수정될듯 */
	border-top: 2px solid #646464;
	border-bottom: 1px solid #646464;
}




/* 게시글 제목 */
#container .title {
	border: 0;
	line-height: 24px;
	padding: 25px 35px 10px 35px;
	background: #fafafa;
	font-weight: 600;
	font-size: 22px;
	color: #393939;
	box-sizing: border-box;
	display: block;
	text-align: left;
}

#container .detail {
	margin-top: -1px;
	padding: 0 35px 25px 35px;
	background: #fafafa;
	border: 0;
	border-bottom: 1px solid #dcdcdc;
}

#container .detail li {
	position: relative;
	overflow: hidden;
	line-height: 20px;
	padding: 0;
	border-bottom: 0;
	font-size: 14px;
}

#container .detail li span {
	position: relative;
	color: #393939;
	display: inline-block;
	padding: 0px 0px 0px 19px;
	background: url(/images/board_bar.png) no-repeat 8px center;
}

#container .detail li span:first-child {
	padding-left: 0;
	background: none;
}

#container .detail li span em {
	color: #323232;
}





/*** 게시글 내용 ***/
#container .board_content {
	padding: 20px 35px;
}









/*** 목록 바로가기 ***/
#container .list_btn {
	width: 170px;
	position: relative;
	margin: 0 auto;
	margin-top: 25px;
}

#container .list_btn a {
	display: block;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	background: var(--point-color2);
	height: 50px;
	line-height: 50px;
	text-align: left;
	border-radius: 50px;
	text-indent: 70px;
}

#container .list_btn:before, .list_btn:after, .list_btn a:after {
	content: '';
	top: 16px;
    position: absolute;
    left: 36px;
    width: 20px;
    height: 4px;
    background-color: #ffce32;
}

#container .list_btn:after {
	top: 23px;
}

#container .list_btn a:after {
	top: 30px;
}





/*** 댓글 ***/
#container .comment {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}















/* ** 댓글 ** */
#container .comment {
  border-top: 4px solid #ddd;
  border-bottom: 4px solid #ddd;
  margin-top: 10px;
}
#container .comment tr {
  height: 70px;
  border-bottom: 1px solid #ddd;
  color: var(--gray-600);
  font-size: 16px;
}
#container .comment th,
#container .comment td {
  padding: 0 20px;
}
#container .comment .writer {
  font-weight: 700;
}
/* ** 댓글 - 수정, 삭제 버튼 ** */
#container .comment .comm_btn {
  display: flex;
  gap: 0 10px;
  justify-content: center;
  padding: 15px 0;
}
#container .comment .comm_btn button {
  background: #bbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 41px;
}


/* 
#container h2 {
  text-align: center;
  font-size: 40px;
  color: var(--gray-600);
  font-weight: 700;
  padding: 80px 0;
}
** 게시판 - 상세보기 **
#container .board {
  border-top: 4px solid #005ad5;
  border-bottom: 4px solid #005ad5;
  margin-top: 10px;
}
#container .board tr {
  height: 70px;
  border-bottom: 1px solid #ddd;
  color: var(--gray-600);
  font-size: 16px;
}
#container .board td {
  padding: 0 20px;
}
#container .board .left {
  background: #eee;
  font-weight: 700;
  text-align: center;
}
#container .board .board_content {
  height: 500px;
}
** 뒤로가기, 수정하기, 삭제하기 버튼 **
#container .board_btn {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 0 10px;
}
#container .board_btn button {
  background: var(--point-color2);
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 41px;
  padding: 0 10px;
}
** 좋아요, 신고 버튼 **
#container .like_btn {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  gap: 0 10px;
}
#container .like_btn button {
  color: var(--point-color2);
  background: none;
  border: 2px solid #005ad5;
  border-radius: 5px;
  width: 80px;
  height: 41px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container .like_btn button>p {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

#container .like_btn button>.like {
  background: url(/images/like_blue.svg) no-repeat 0 0 / 100%;
}
#container .like_btn button>.dislike {
  background: url(/images/dislike_blue.svg) no-repeat 0 0 / 100%;
}
** 좋아요, 신고 버튼 눌렀을 때 **
#container .like_btn button.push {
  color: #fff;
  background: var(--point-color2);
  border: none;
}
#container .like_btn button.push>.like {
  background-image: url(/images/like_white.svg);
}
#container .like_btn button.push>.dislike {
  background: url(/images/dislike_white.svg);
}


** 댓글 작성 버튼 **
#container .comment_btn {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
}
#container .comment_btn button {
    background: #bbb;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 41px;
    padding: 0 10px;
    margin-right: 20px;
}



** 댓글 **
#container .comment {
  border-top: 4px solid #ddd;
  border-bottom: 4px solid #ddd;
  margin-top: 10px;
}
#container .comment tr {
  height: 70px;
  border-bottom: 1px solid #ddd;
  color: var(--gray-600);
  font-size: 16px;
}
#container .comment th,
#container .comment td {
  padding: 0 20px;
}
#container .comment .writer {
  font-weight: 700;
}
** 댓글 - 수정, 삭제 버튼 **
#container .comment .comm_btn {
  display: flex;
  gap: 0 10px;
  justify-content: center;
  padding: 15px 0;
}
#container .comment .comm_btn button {
  background: #bbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 41px;
} */