#container .content {
  padding: 250px 0 80px;
  background: #eee;
}
#container .content_inner {
    max-width: 1500px;
    margin: 0 auto;
    padding: 80px 100px;
    background: #fff;
    border-radius: 30px;
    position: relative;
}
#container .info_top {
  display: flex;
}
/*** 의사 사진 ***/
#container .img {
  display: block;
  width: 360px;
  height: 360px;
  background: url(/images/doctor.png) no-repeat 0 0 / contain;
  border: 2px solid #ddd;
}
/*** 의사 정보 ***/
#container .doc {
  width: calc(100% - 400px);
  padding: 0 50px;
}
/*** 의사 이름, 병원 ***/
#container .doc h2 {
  font-size: 80px;
  font-weight: 700;
  display: block;
  margin-top: 20px;
}
#container .doc h2::after {
  content: '의사';
  margin-left: 25px;
  font-size: 55px;
}
#container .doc>p {
  display: block;
  margin-top: 35px;
  font-size: 40px;
  font-weight: 700;
  color: var(--gray-400);
}
/*** 진료과목 ***/
#container .doc_hosp {
  display: flex;
  gap: 0 10px;
  margin-top: 20px;
  font-size: 35px;
}
#container .doc_hosp p {
  display: block;
  padding: 10px 15px;
  background: #eee;
  border-radius: 10px;
}
/*** 진료시간 ***/
#container .doc_time {
  display: flex;
  gap: 0 20px;
  margin-top: 30px;
  font-size: 35px;
}
#container .doc_time .time_tit {
  font-weight: 700;
}
/*** 내용 ***/
#container .info_bottom {
  margin-top: 30px;
}
#container .info_bottom>p {
  font-size: 30px;
}
#container .info_bottom .none {
  display: block;
  text-align: center;
  margin-top: 100px;
}
#container .info_content {
  border: 2px solid #ddd;
  margin-top: 10px;
  padding: 20px;
  font-size: 22px;
  line-height: 1.7em;
  min-height: 300px;
}
/*** 좋아요 버튼 ***/
#container .like_btn {
  position: absolute;
  right: 100px;
  top: 100px;
}
#container .like_btn>button {
  width: 100px;
  height: 100px;
  border: none;
  background: url(/images/heart.svg) no-repeat 50% / 100%;
}
/*** 좋아요 버튼 눌렀을 때 ***/
#container .like_btn>button.push {
  background-image: url(/images/heart_full.svg);
}
/*** 뒤로가기, 수정하기, 삭제하기 버튼 ***/
#container .board_btn {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 0 20px;
}
#container .board_btn button {
  background: var(--point-color2);
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  padding: 0 10px;
  font-size: 20px;
}