#container {
	margin-top: 170px;
    position: relative;
    min-width: 1280px;
}

#container .content {
	padding-top: 0;
	position: relative;
	z-index: 3;
}



/** 의사 프로필 **/
#container .doc_wrap {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
	padding-top: 80px;
}

#container .doc_wrap .doc_profile {
	width: 100%;
	height: 250px;
	padding: 30px;
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 20px;
	position: relative;
	display: flex;
	margin-bottom: 50px;
}

/* 의사 프로필 (의사 사진) */
#container .doc_wrap .doc_profile .doc_photo {
	display: block;
	width: 190px;
	height: 190px;
}

/* 의사 프로필 (의사 정보) */
#container .doc_wrap .doc_profile .doc_info {
	padding: 0 20px;
}


/* 의사 프로필 (병원 정보) */
#container .doc_wrap .doc_profile .doc_info .doc_name {
	display: flex;
	gap: 0 5px;
}

#container .doc_wrap .doc_profile .doc_info .doc_name p {
	font-size: 30px;
	font-weight: 500;
	color: #666;
}

/* 의사 프로필 (의사 정보 - 소속병원) */
#container .doc_wrap .doc_profile .doc_info .doc_hosp {
	margin-top: 4px;
	display: flex;
	gap: 0 10px;
} 

#container .doc_wrap .doc_profile .doc_info .doc_hosp p {
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #bbb;
}

/* 의사 프로필 (의사 정보 - 전공과 경력과 근무시간) */
#container .doc_wrap .doc_profile .doc_info .doc_major {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

#container .doc_wrap .doc_profile .doc_info .doc_career {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

#container .doc_wrap .doc_profile .doc_info .doc_hours {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

#container .doc_wrap .doc_profile .doc_info p {
	color: #999;
}

#container .doc_wrap .doc_profile .doc_info .sub_tit {
	font-weight: 500;
}


#container .doc_wrap .doc_profile .doc_info .divider {
	width: 1px;
	height: 13px;
	background: #ddd;
	margin-left: 8px;
	margin-right: 8px;
}

/* 의사 프로필 - 찜 버튼 */
#container .doc_wrap .doc_profile .doc_info .info_right {
	position: absolute;
	right: 60px;
	top: 40px;
	display: flex;
	gap: 0 20px;
	justify-content: right;
}

#container .doc_wrap .doc_profile .doc_info .info_right .save_btn {
	width: 70px;
	border-radius: 2px;
	background: #f2f2f2;
	text-align: center;
	display: inline-block;
	
}

#container .doc_wrap .doc_profile .doc_info .info_right .save_btn span {
	font-size: 16px;
	font-weight: 500;
	line-height: 33px;
	height: 35px;
	color: #666666;
	display: flex;
	gap: 0 2px;
	align-items: center;
	justify-content: center;
}



/** 리뷰 **/
#container .review_wrap .review_list {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

#container .review_wrap .review_list .review>li {
	width: 100%;
	height: 100%;
	padding: 30px;
	border-top: 1px solid #e5e5e5;
	position: relative;
	display: flex;
	align-items: center;
	background: #fff;
}

#container .review_wrap .review_list .review>li:last-child {
	border-bottom: 1px solid #e5e5e5;
}

/* 리뷰 (리뷰 작성자 아이콘) */
#container .review_wrap .review_list .review .review_icon {
	width: 50px;
	height: 50px;
	border: 2px solid #ddd;
	border-radius: 50%;
}

#container .review_wrap .review_list .review .review_icon img {
	width: 100%;
	height: 100%;
}

/* 리뷰 (리뷰 정보) */
#container .review_wrap .review_list .review .review_info {
	padding: 0 24px;
}

/* 리뷰 (리뷰 정보 - 닉네임) */
#container .review_wrap .review_list .review .review_info .review_nickname {
	display: flex;
	gap: 0 5px;
}

#container .review_wrap .review_list .review .review_info .review_nickname p {
	font-size: 16px;
	font-weight: 500;
	color: #666;
}

/* 리뷰 (리뷰 정보 - 날짜 및 수정 여부) */
#container .review_wrap .review_list .review .review_info .info_right {
	position: absolute;
	right: 30px;
	top: 30px;
	display: flex;
	gap: 0 20px;
	justify-content: right;
}

#container .review_wrap .review_list .review .review_info .info_right .review_date {
	display: flex;
	gap: 0 5px;
	align-items: center;
}

#container .review_wrap .review_list .review .review_info .review_score {
	display: flex;
	gap: 0 10px;
}

#container .review_wrap .review_list .review .review_info .review_score .star {
	display: flex;
	gap: 0;
}

/**************** 여기에 해시태그 추가해야 함 ********/



#container .review_wrap .review_list .review .review_info

/*

** 좋아요 버튼 **
#container .like_wrap>button {
  border: 2px solid #ddd;
  border-radius: 10px;
  background: none;
  padding: 5px 10px;
  font-size: 23px;
  font-weight: 500;
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
  gap: 0 10px;
  align-items: center;
  min-width: 80px;
}
** 뒤로가기, 수정하기, 삭제하기 버튼 **
#container .board_btn {
  display: flex;
  gap: 0 20px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
#container .board_btn button {
  background: var(--point-color2);
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  padding: 0 10px;
  font-size: 20px;
}




#container .review_wrapper {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
** 리뷰 **
#container .review_wrap {
  display: flex;
  border: 2px solid #bbb;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  position: relative;
}
#container .review_wrap img {
  width: 160px;
  height: 160px;
}
#container .review {
  padding-left: 20px;
  width: 100%;
}
** 별점, 이름, 날짜, 수정여부 **
#container .review_score {
  display: flex;
  gap: 0 10px;
}
#contaienr .review_score .star {
  display: flex;
}
#container .star img {
  width: 25px;
  height: 25px;
  margin-top: 2px;
}
#container .review_score>p {
  font-weight: 500;
  font-size: 20px;
}
#container .review_title {
  display: flex;
  gap: 0 10px;
  align-items: center;
  margin-top: 5px;
  color: var(--gray-500);
  padding-left: 2px;
}
#container .review_title .edit {
  color: var(--gray-400);
}
** 해시태그 **
#container .review_hash {
  display: flex;
  gap: 0 5px;
  margin-top: 5px;
}
#container .review_hash p {
  display: block;
  padding: 5px 10px;
  background: #bbb;
  border-radius: 5px;
  color: #fff;
}
#container .review_hash p::before {
  content: '#';
  margin-right: 5px;
}
** 댓글 내용 **
#container .review_content {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  color: var(--gray-500);
}
** 좋아요, 답글달기 **
#container .review_other {
  display: flex;
  gap: 0 10px;
  position: absolute;
  right: 20px;
  top: 20px;
}
#container .review_other button {
  border: 2px solid #bbb;
  border-radius: 5px;
  background: none;
  padding: 5px 10px;
  font-weight: 500;
}
#container .review_other button.re_btn {
  background: #bbb;
  color: #fff;
}
** 수정, 삭제 버튼 **
#container .manage {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
#container .manage button {
  border: 2px solid #bbb;
  border-radius: 5px;
  background: none;
  padding: 5px 10px;
  font-weight: 500;
  color: #bbb;
}

** 리뷰 답글 **
#container .recomm {
  display: flex;
}
#container .recomm_wrap {
  border: 2px solid #bbb;
  border-radius: 10px;
  background: #eee;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
}
#container .recomm_title {
  display: flex;
  gap: 0 10px;
  padding-left: 5px;
  color: var(--gray-500);
}
#container .recomm_title .edit {
  color: var(--gray-400);
}
** 댓글 내용 **
#container .recomm_content {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  color: var(--gray-500);
}
#container .recomm_btn {
  margin-top: 10px;
  display: flex;
  gap: 0 10px;
  justify-content: right;
}
#container .recomm_btn button {
  border: none;
  border-radius: 5px;
  background: var(--gray-500);
  padding: 5px 10px;
  color: #fff;
}


** 리뷰 없을 때 처리 **
#container .comment_inner>p {
  display: block;
  border: 2px solid #bbb;
  border-radius: 10px;
  padding: 50px 20px;
  text-align: center;
  color: var(--gray-500);
} */


/*** 모달창 ***/
.modal-content {
  color: var(--gray-500);
}
.modal-content button {
  height: auto;
  padding: 5px 10px;
  border: 1px solid #bbb;
}
.modal-content button.btn-close {
  border: none;
}
.modal-content #hashtag-list {
  display: flex;
  gap: 0 5px;
  margin-top: 5px;
}
.modal-content .form-group {
  margin-bottom: 10px;	
}
.modal-content .form-control {
  margin-bottom: 10px;
}
.modal-content .form-control:last-child {
  margin-bottom: 0;
}