#container .content {
  margin-top: 170px;
  padding: 100px 0;
  min-height: 100vh;
  background: #f6f6f6;
}
#container .content_inner {
  max-width: 1170px;
  margin: 0 auto;
}

#container .emoji {
  background: #fff;
  padding: 80px;
  border-radius: 30px;
}

#container h2 {
  text-align: center;
  font-size: 40px;
  color: var(--gray-600);
  font-weight: 700;
  padding-bottom: 50px;
}

#container .emoji_inner {
  display: flex;
  gap: 20px 15px;
  flex-wrap: wrap;
}

#container .emoji_inner>li {
  width: calc((100% / 3) - 30px / 3);
  height: 330px;
  text-align: center;
  padding: 50px 40px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
/*** 이모지 칸 ***/
#container .emoji_inner .emoji_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .emoji_inner .emoji_wrap h4 {
  font-size: 50px;
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #666;
  color: #666;
  border-radius: 50%;
  padding: 15px 10px;
  transition: all 0.3s ease;
}
#container .emoji_inner .emoji_name {
  width: 100%;
  margin-top: 35px;
  font-size: 25px;
}
#container .emoji_inner .point {
  color: var(--point-color1);
  font-weight: 700;
  font-size: 20px;
}

  
#container .emoji .your_emoji>button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  width: 130px;
  height: 44px;
  background: var(--point-color2);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  transition: all 0.2s ease;
}

#container .emoji_inner>li:hover .emoji_wrap h4 {
  background: var(--point-color1);
}
#container .emoji_inner>li:hover>button {
  background: none;
  border: 1px solid #005ad5;
  color: var(--point-color2);
}