#container .content {
	padding-top: 170px;
	/* background: url(../images/bg_content.gif) 0 0 repeat; */
}

#container .content_inner {
	min-width: 1170px;
	margin: 0 auto;
}

#container h2 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--point-color2);
}



/*** 병원/의사 찾기 ***/
#container .search {
    position: relative;
    height: 490px;
    background-color: #fff;
}

#container .search_wrap {
    height: 440px;
    background: url(../images/bg_content.gif) 0 0 repeat;
    padding: 30px;
    display: flex;
    gap: 0 35px;
}

#container .search_form_wrap {
	width: 100%;
	text-align: center;
}

#container .title {
    font-size: 16px;
    line-height: 26px;
    position: relative;
    z-index: 9;
}

#container .title .tip {
	margin-bottom: 10px;
  	
    font-size: 50px;
    font-weight: 700;
    color: var(--point-color2);
    padding: 104px 0 21px 0;
    position: relative;
    z-index: 9;
}

#container .search_field {
  border: 2px solid #ddd;
  height: 45px;
  width: 20%;
  color: var(--gray-400);
  padding: 0 10px;
  position: relative;
  background: url(/images/drop_down_arrow.svg) no-repeat right 5px top 50%;
  cursor: pointer;
}

#container .search_word {
  border: 2px solid #ddd;
  background: none;
  height: 45px;
  width: 50%;
}

#container .search_btn {
  border: 2px solid #ddd;
  background: url(/images/search.svg) no-repeat 50%;
  height: 45px;
  width: 45px;
  color: var(--gray-400);
  cursor: pointer;
}

#container .search .quick_link {
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1170px;
    margin-left: -585px;
    text-align: right;
    z-index: 5;
}

#container .search .quick_link .quick_link_content {
    overflow: hidden;
    float: right;
    display: table;
}

#container .search .quick_link .quick_link_content >div {
    display: table-cell;
    vertical-align: bottom;
    height: 80px;
}

#container .search .quick_link .quick_link_content >div a {
    display: block;
    width: 300px;
    height: 80px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

#container .search .quick_link .quick_link_content .hospital a {
    background-color: var(--point-color1);
    border-radius: 30px 0 0 0;
    float: right;
    transition-duration: 0.2s;
    letter-spacing: -0.02em;
}

#container .search .quick_link .quick_link_content .doctor a {
    background-color: var(--point-color2);
    border-radius: 0 0 30px 0;
    float: left;
    letter-spacing: -0.05em;
}

#container .search .quick_link .quick_link_content >div a >strong {
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    padding: 27px 0 0 0;
}

#container .search .quick_link .quick_link_content .hospital a >strong {
    color: #292929;
    display: block;
}

#container .search .quick_link .quick_link_content .doctor a >strong {
    color: #FFF;
    display: block;
}








/*** 빠른 검색 ***/
#container .tag {
  padding-bottom: 30px; 
}
#container .tag .swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: var(--point-color1);
  border: none;
  border-radius: 10px;
}
#container .tag .swiper-slide:hover {
  background: #fff;
  border: 2px solid var(--point-color1);
}
#container .tag .swiper-slide a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;  
  color: #fff;
}
#container .tag .swiper-slide:hover a {
  color: var(--point-color1);
}







/*** 바로가기 ***/
#container .shortcut_menu {
	background-color: #fff;
	padding: 60px 0 0;
	height: 560px;
}

#container .shortcut_menu .title {
	width: 1170px;
	margin: 0 auto;
	padding-bottom: 3px;
	position: relative;
}

#container .shortcut_menu .title h2 {
	color: #292929;
    font-size: 40px;
    font-weight: bold;
    background: url(/images/bul_tit.png) 0 0 no-repeat;
    min-height: 60px;
    padding: 17px 0 30px 25px;
    margin-bottom: 1px;
}

#container .shortcut_menu_wrap {
	position: relative;
	height: 320px;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

#container .shortcut_menu ul li {
	width: 260px;
    height: 320px;
    padding: 0 5px;
    margin-left: 30px;
    float: left;
}

#container .shortcut_menu .wrap {
	position: relative;
	text-align: center;
}

#container .shortcut_menu ul li .img img {
    width: 100%;
    height: 182px;
}

/* #container .shortcut_menu ul li:hover img {
    width: 340px;
    height: 238px;
} */

#container .shortcut_menu ul li:hover .img:after {
    content: '';
    background: url(/images/home/btn_more.png) 0 0 no-repeat;
    width: 98px;
    height: 98px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px;
    opacity: 0;
    transition: opacity 0.3s;
}

#container .shortcut_menu ul li:hover .img:after {
    opacity: 1;
}

#container .shortcut_menu ul li strong {
	font-size: 18px;
	font-weight: bold;
	color: #292929;
	margin: 3px 0 10px;
	display: block;
}

#container .shortcut_menu ul li p {
    font-size: 13px;
    color: #999999;
    line-height: 21px;
    opacity: 1;
    width: 260px;
    margin: 0 auto;
    letter-spacing: -0.04em;
}



/*** 공지사항 ***/
#container .notify {
  padding: 30px 0;
}
#container .notify .notice {
  padding: 20px;
  border: 2px solid #ffce32;
  border-radius: 10px;
  background: #fff;
}
#container .notify p {
  font-size: 18px;
  color: var(--gray-600);
  line-height: 1.5em;
}
#container .notify p.title {
  font-size: 20px;
  font-weight: 500;
  color: red;
}
#container .notify strong {
  font-size: 20px;
  line-height: 1.5em;
}
#container .notify span {
  color: red;
  font-weight: 500;
}






/*** 퀵 메뉴 ***/
#container .quick_menu {
	text-align: center;
    background-color: #fff;
    padding: 40px 0 37px;
}

#container .quick_menu ul {
	overflow: hidden;
	display: inline-block;
}

#container .quick_menu ul li {
	float: left;
	margin-left: 80px;
}

#container .quick_menu ul li:first-child {
	margin-left: 0;
}

#container .quick_menu ul li a {
	display: block;
    overflow: hidden;
    position: relative;
    height: 70px;
    padding-left: 90px;
}

#container .quick_menu .icon {
	background: url(/images/icon_quickmenu.png) no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}

#container .quick_menu ul li.qm1 .icon {
    background-position: 0px 0px;
}

#container .quick_menu ul li.qm2 .icon {
    background-position: -70px 0px;
}

#container .quick_menu ul li.qm3 .icon {
    background-position: -140px 0px;
}

#container .quick_menu ul li.qm4 .icon {
    background-position: -210px 0px;
}



#container .quick_menu ul li strong {
	color: #292929;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-top: 12px;
    letter-spacing: -0.04em;
    text-align: left;
}

#container .quick_menu ul li span {
	color: #999999;
	font-size: 13px;
	display: block;
	margin-top: 6px;
	letter-spacing: -0.02em;
	text-align: left;
}









