#container .content {
  padding: 170px 0 80px;
  min-height: 100vh;
}
#container .content_inner {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding-top: 80px;
}


/*** 의사 정보 ***/
#container .doc_info {
  width: 100%;
  height: 250px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  margin-bottom: 50px;
}
/*** 의사 사진 ***/
#container .img {
  display: block;
  width: 190px;
  height: 190px;
  border: 2px solid #ddd;
}
/*** 의사 정보 ***/
#container .info {
  padding: 0 30px;
}
#container .info_top>p {
  font-size: 20px;
  color: var(--gray-400);
  font-weight: 500;
  display: block;
}
#container .info_top h3 {
  font-size: 32px;
  font-weight: 700;
}
#container .detail {
  margin-top: 20px;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.5em;
}
#container .details {
  display: flex;
  gap: 0 10px;
}
#container .detail_flex {
  display: flex;
  gap: 0 10px;
}
#container .blue {
  color: var(--point-color2);
}
/*** 좋아요 버튼 ***/
#container .doc_like {
  position: absolute;
  right: 30px;
  top: 30px;
  min-width: 80px;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 0 10px
}
#container .like_wrap {
  display: flex;
  gap: 0 10px;
  align-items: center;
  font-size: 25px;
}
#container .like_wrap>button {
  width: 30px;
  height: 30px;
  border: none;
  background: url(/images/heart.svg) no-repeat 50% / 100%;
}
#container .like_wrap>button.push {
  background-image: url(/images/heart_full.svg);
}
/*** 뒤로가기, 수정하기, 삭제하기 버튼 ***/
#container .board_btn {
  display: flex;
  gap: 0 20px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
#container .board_btn button {
  background: var(--point-color2);
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  padding: 0 10px;
  font-size: 20px;
}
/*** 댓글 작성 버튼 ***/
#container .comment_inner {
  max-width: 1500px;
  margin: 100px auto 0;
}
#container .comment_btn {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}
#container .comment_btn button {
  background: #bbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 110px;
  height: 41px;
  padding: 0 10px;
  margin-right: 20px;
}



#container .review_wrapper {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
/*** 리뷰 ***/
#container .review_wrap {
  display: flex;
  border: 2px solid #bbb;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  position: relative;
}
#container .review_wrap img {
  width: 160px;
  height: 160px;
}
#container .review {
  padding-left: 20px;
  width: 100%;
  height: 210px;
}
/*** 별점, 이름, 날짜, 수정여부 ***/
#container .review_score {
  display: flex;
  gap: 0 10px;
}
#contaienr .review_score .star {
  display: flex;
}
#container .star img {
  width: 25px;
  height: 25px;
  margin-top: 2px;
}
#container .review_score>p {
  font-weight: 500;
  font-size: 20px;
}
#container .review_title {
  display: flex;
  gap: 0 10px;
  align-items: center;
  margin-top: 5px;
  color: var(--gray-500);
  padding-left: 2px;
}
#container .review_title .edit {
  color: var(--gray-400);
}
/*** 해시태그 ***/
#container .review_hash {
  display: flex;
  gap: 0 5px;
  margin-top: 5px;
}
#container .review_hash>p {
  display: block;
  padding: 5px 10px;
  background: #bbb;
  border-radius: 5px;
  color: #fff;
}
#container .review_hash>p::before {
  content: '#';
  margin-right: 5px;
}
/*** 댓글 내용 ***/
#container .review_content {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  color: var(--gray-500);
}
/*** 좋아요, 답글달기 ***/
#container .review_other {
  display: flex;
  gap: 0 10px;
  position: absolute;
  right: 20px;
  top: 20px;
}
#container .review_other button {
  border: 2px solid #bbb;
  border-radius: 5px;
  background: none;
  padding: 5px 10px;
  font-weight: 500;
}
#container .review_other button.re_btn {
  background: #bbb;
  color: #fff;
}
/*** 수정, 삭제 버튼 ***/
#container .manage {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
#container .manage button {
  border: 2px solid #bbb;
  border-radius: 5px;
  background: none;
  padding: 5px 10px;
  font-weight: 500;
  color: #bbb;
}

/*** 리뷰 답글 ***/
#container .recomm {
  display: flex;
}
#container .recomm_wrap {
  border: 2px solid #bbb;
  border-radius: 10px;
  background: #eee;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
}
#container .recomm_title {
  display: flex;
  gap: 0 10px;
  padding-left: 5px;
  color: var(--gray-500);
}
#container .recomm_title .edit {
  color: var(--gray-400);
}
#container .recomm_content {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  color: var(--gray-500);
}
#container .recomm_btn {
  margin-top: 10px;
  display: flex;
  gap: 0 10px;
  justify-content: right;
}
#container .recomm_btn button {
  border: none;
  border-radius: 5px;
  background: var(--gray-500);
  padding: 5px 10px;
  color: #fff;
}


/*** 리뷰 없을 때 처리 ***/
#container .comment_inner>p {
  display: block;
  border: 2px solid #bbb;
  border-radius: 10px;
  padding: 50px 20px;
  text-align: center;
  color: var(--gray-500);
}