#container {
	margin: 170px 0;
    position: relative;
    min-width: 1280px;
}

#container .content {
	padding-top: 0;
	position: relative;
}

/*** 병원 소개***/
#container .content_inner {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding-top: 80px;
}
/* 병원 정보 */
#container .hosp_info {
  height: 300px;
  padding: 30px;
  display: flex;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  gap: 30px;	
}
#container .img_wrap {
  width: 100%;
  height: 100%;
}
#container .info {
  height: 100%;
  min-width: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#container .info_top>p {
  font-size: 20px;
  color: var(--gray-400);
  display: block;
}
#container .info_top h3 {
  font-size: 32px;
  font-weight: 500;
}
#container .hosp_name {
  display: flex;
  gap: 0 10px;
}
#container .approve {
  display: block;
  width: 35px;
  height: 35px;
  background: url(/images/approve.svg) no-repeat 0 0 / 100%;
}
#container .detail {
  margin-top: 10px;
  font-size: 20px;
  color: #666;
  line-height: 1.5em;
}
#container .details {
  display: flex;
  gap: 0 10px;
}
#container .detail_flex {
  display: flex;
  gap: 0 10px;
}
#container .hashtag {
  width: 600px;
}
#container .hashtag ul {
  display: flex;
  gap: 0 10px; 
}
#container .hash p {
  background: var(--point-color1);
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 18px;
  color: #fff;
}
#container .hash p::before {
  content: '#';
  margin-right: 5px;
}
#container .other_wrap {
	height: 100%;
	width: 220px;
    min-width: 220px;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

#container .other_wrap .like_wrap {
	display: flex;         
    justify-content: flex-end;
}
#container .other_wrap .like_wrap>button {
  border: none;
  background: none;
  font-size: 23px;
  font-weight: 500;
  display: flex;
  gap: 0 5px;
  align-items: center;
  color: #666;
}
#container .other_wrap .btn_wrap {
  display: flex;         
  justify-content: flex-end;
  gap: 0 10px;
}
#container .other_wrap .btn_wrap button {
  background: var(--point-color2);
  color: #fff;
  border: none;
  border-radius: 2px;
  width: 100px;
  height: 40px;
  padding: 0 10px;
  font-size: 18px;
}

/*** 뒤로가기, 수정하기, 삭제하기 버튼 ***/
/* #container .board_btn {
  display: flex;
  gap: 0 20px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
#container .board_btn button {
  background: var(--point-color2);
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  padding: 0 10px;
  font-size: 20px;
} */

/* 의사 정보 */
#container .doctor_info {
	height: auto;
	padding-top: 30px;   
    padding-right: 30px; 
    padding-bottom: 10px;
    padding-left: 30px;  
	display: flex;
	border-bottom: 1px solid #ddd;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
}
#container .doctor_info .doctor {
    flex: 1 1 calc(33.333% - 10px); 
    max-width: calc(33.333% - 10px); 
    display: flex;
    justify-content: space-between;
    height: 110px;
    margin-bottom: 20px;
}
#container .doctor_info .doctor_none {
	width: 100%;
    margin-bottom: 20px;
	text-align: center;
	color: #666;
}
#container .doctor .doc_wrap {
	height: 100%;
	width: 100%;	
	display: flex;
	align-items: flex-start;
	flex-grow:1; 
	gap: 20px;
}
#container .doctor .doc_img {
  border: 1px solid #ddd;
  width: 110px;
  height: 110px;
}
#container .doctor .doc_img img {
  width: 100%;
  height: 100%;
}
#container .doctor .doc_content {
	height: 100%;
}
#container .doctor .doc_title {
  display: flex;
  align-items: center;
  gap: 0 5px;
  margin-bottom: 30px;
}
#container .doctor .doc_title h3 {
  font-size: 20px;
  font-weight: 500;
}
#container .doctor .doc_title p {
  font-size: 15px;
  color: var(--gray-500);
}
#container .doctor .doc_detail {
  display: flex;
  gap: 0 5px;
}
#container .doctor .doc_detail .etc {
	color: #666;
}
#container .doctor .doc_detail>.blue {
  color: var(--point-color2);
}
/* 영업 시간 */
#container .time_info {
	height: auto;
	padding-top: 30px;   
    padding-right: 30px; 
    padding-bottom: 10px;
    padding-left: 30px;  
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
}
#container .time_info .time {
    flex: 1 1 calc(20% - 20px); 
    max-width: calc(20% - 20px); 
    height: 110px;
    margin-bottom: 20px;
	position: relative;
}
#container .time_info .time::after {
    content: '';
    width: 1px;
    height: 100px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
}
#container .time_info .time:nth-child(5n)::after {
    content: ''; 
    width: 0;
}
#container .time_info .time:last-child::after {
    content: ''; 
    width: 0;
}
#container .time .day {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 500;
}
#container .time .time_detail {
	display: flex;
	gap: 0 8px;
}
#container .time .time_detail .etc {
	color: #666;
}


/*** 리뷰 영역 ***/
#container .comment_inner {
  max-width: 1170px;
  margin: 100px auto 0;
  position: relative;
}
#container .comment_btn {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}
#container .comment_btn button {
  background: #bbb;
  color: #fff;
  border: none;
  border-radius: 2px;
  width: 110px;
  height: 41px;
}

/* 리뷰 */
#container .review_wrapper {
  border-top: 1px solid #ddd;
}
#container .review_wrap {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 30px;
  width: 100%;
  position: relative;
}

#container .comment_etc {
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}
#container .comment_etc img {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
}
/* 수정, 삭제 버튼 */
#container .manage {
	display: flex;
	justify-content: space-between;
}
#container .manage button {
  border: 1px solid #bbb;
  border-radius: 2px;
  background: none;
  padding: 5px 10px;
  color: #bbb;
}

#container .review {
  margin-left: 20px;
  width: 100%;
  height: 210px;
}
#container .review_score {
  display: flex;
  gap:8px;
}
#contaienr .review_score .star {
  display: flex;
}
#container .star img {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
#container .review_score>p {
  font-size: 15px;
  margin: 0;
  line-height: 26px;
}
#container .review_title {
  display: flex;
  gap: 0 10px;
  align-items: center;
  margin-top: 10px;
  color: var(--gray-500);
  padding-left: 2px;
}
#container .review_title .edit {
  color: var(--gray-400);
}
#container .extra_wrap {
	display: flex;
	gap: 0 5px;
  	margin-top: 5px;
}
#container .review_hash {
  display: flex;
  gap: 0 5px;
}
#container .review_hash p {
  padding: 3px 8px;
  background: #bbb;
  border: 1px solid #bbb;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
}
#container .review_hash p::before {
  content: '#';
  margin-right: 5px;
}
#container .review_extra {
	display: flex;
	gap: 0 5px;
	font-size: 15px;
}
#container .extra_detail {
	display: flex;
	gap: 0 7px;
	padding: 3px 8px;
	border: 1px solid #ddd;
	border-radius: 2px;
}
#container .review_content {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 10px;
  margin-top: 18px;
  color: var(--gray-500);
  min-height: 100px;
}
#container .review_content p{
	font-size: 15px;
}




/*** 좋아요, 답글 달기 ***/
#container .review_other {
  display: flex;
  gap: 0 10px;
  position: absolute;
  right: 30px;
  top: 30px;
}
#container .review_other button {
/*   border: 2px solid #bbb; */
/*   border-radius: 5px; */
  border: none;
  background: none;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 15px;
}
#container .review_other button.re_btn {
  background: #bbb;
  color: #fff;
}

/*** 리뷰 답글 ***/
#container .recomm {
  display: flex;
}
#container .recomm_wrap {
  border: 2px solid #bbb;
  border-radius: 10px;
  background: #eee;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
}
#container .recomm_title {
  display: flex;
  gap: 0 10px;
  padding-left: 5px;
  color: var(--gray-500);
}
#container .recomm_title .edit {
  color: var(--gray-400);
}
#container .recomm_content {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  color: var(--gray-500);
}
#container .recomm_btn {
  margin-top: 10px;
  display: flex;
  gap: 0 10px;
  justify-content: right;
}
#container .recomm_btn button {
  border: none;
  border-radius: 5px;
  background: var(--gray-500);
  padding: 5px 10px;
  color: #fff;
}


/*** 리뷰 없을 때 처리 ***/
#container .comment_inner>p {
  display: block;
  border: 2px solid #bbb;
  border-radius: 10px;
  padding: 50px 20px;
  text-align: center;
  color: var(--gray-500);
}


/*** 모달창 ***/
.modal-content {
  color: var(--gray-500);
}
.modal-content button {
  height: auto;
  padding: 5px 10px;
  border: 1px solid #bbb;
}
.modal-content button.btn-close {
  border: none;
}
.modal-content #hashtag-list {
  display: flex;
  gap: 0 5px;
  margin-top: 5px;
}
.modal-content .form-group {
  margin-bottom: 10px;	
}
.modal-content .form-control {
  margin-bottom: 10px;
}
.modal-content .form-control:last-child {
  margin-bottom: 0;
}


#container .blue {
  color: var(--point-color2);
}