#container .content {
  padding: 170px 0 80px;
}
#container .content_inner {
  max-width: 1170px;
  margin: 0 auto;
}
#container .list_title {
  text-align: center;
  padding: 80px 0 50px;
}
#container h2 {
  font-size: 40px;
  color: var(--point-color2);
  font-weight: 700;
  margin-bottom: 10px;
}
#container .list_title>p {
  font-size: 20px;
  color: var(--gray-500);
}
/*** 의사 목록 ***/
#container .list>p {
  text-align: center;
  padding: 100px 0;
  font-size: 25px;
  color: var(--gray-400);
}
/*** 의사 컬럼 ***/
#container .doctor li {
  width: 100%;
  height: 250px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  margin-bottom: 30px;
}
#container .doctor li:last-child {
  margin-bottom: 0;
}
#container .doctor li a {
  display: block;
  width: 100%;
  height: 250px;
  position: absolute;
  left: 0;
  top: 0;
}
/*** 사진 ***/
#container .doctor>li>.img {
  width: 190px;
  height: 190px;
  border: 2px solid #ddd;
}
/*** 의사 정보 ***/
#container .doctor .info {
  padding: 0 30px;
}
/*** 병원 이름, 주소 등 ***/
#container .doctor .info_top h3 {
  font-size: 32px;
  font-weight: 700;
}
#container .doctor .info_top>p {
  font-size: 20px;
  color: var(--gray-400);
  font-weight: 500;
  display: block;
  margin-top: 5px;
}
#container .doctor .detail {
  margin-top: 20px;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.5em;
}
#container .doctor .details {
  display: flex;
  gap: 0 10px;
}
#container .doctor .blue {
  color: var(--point-color2);
}
/*** 별점, 좋아요/댓글 수 ***/
#container .doctor .info_right {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
  gap: 0 50px;
  justify-content: right;
}
#container .doctor .info_right p {
  font-size: 27px;
  position: relative;
}
#container .doctor .info_right p::before {
  content: '';
  display: block;
  width: 27px;
  height: 27px;
  position: absolute;
  left: -35px;
  top: 2px;
}
#container .doctor .info_right p.like::before {
  background: url(/images/mark_full.svg) no-repeat 50% 50% / 100%;
}
#container .doctor .info_right p.star::before {
  background: url(/images/star.svg) no-repeat 50% 50% / 100%;
}
/*** 찜한 거 없을 때 ***/
#container .none {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #666;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 20px;  
}
/*** 게시판 - 페이지네이션 ***/
#container .pagination {
  margin-top: 30px;  
  width: 100%;
}
#container .pagination_inner {
  display: flex;
  justify-content: center;
  vertical-align: center;
  text-align: center;
  gap: 0 20px;
}
#container .pagination a {
  font-weight: 700;
  font-size: 18px;
  color: #bbb;
  display: block;
  width: 24px;
  height: 24px;
}
#container .pagination a:hover {
  color: var(--point-color2);
}
#container .pagination p {
  font-weight: 700;
  font-size: 18px;
  color: var(--point-color2);
  display: block;
  width: 24px;
  height: 24px;
}