#container .content {
  padding: 170px 0 80px;
}
#container .content_inner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px;
}

#container .list_title {
  text-align: center;
  padding: 50px 0;
}
#container h2 {
  font-size: 40px;
  color: var(--point-color2);
  font-weight: 700;
  margin-bottom: 20px;
}
#container .list_title>p {
  font-size: 20px;
  color: var(--gray-500);
}

/*** 병원 찾기 - 검색 ***/
#container .list_search {
  display: flex;
  justify-content: center;
  gap: 0 5px;
  width: 100%;
  margin-bottom: 20px;
}
#container .search_city .searchField {
  border: 2px solid #ddd;
  height: 41px;
  width: 190px;
  color: var(--gray-400);
  padding: 0 10px;
  position: relative;
  background: url(/images/drop_down_arrow.svg) no-repeat right 5px top 50%;
  cursor: pointer;
}
#container .search_city>.searchField {
  height: 60px;
  font-size: 18px;
}
#container .search_city .searchKeyword {
  border: 2px solid #ddd;
  background: none;
  width: 650px;
  height: 60px;
  font-size: 18px;
}
#container .search_city .search_btn {
  border: 2px solid #ddd;
  background: url(//search.svg) no-repeat 50% 50% / 80%;
  width: 60px;
  height: 60px;
  color: var(--gray-400);
  cursor: pointer;
}
/*** 추가 조건 ***/
#container .other_search {
  display: flex;
  gap: 0 5px;
  width: 100%;
  margin-bottom: 20px;
}
#container .other_search .searchField {
  border: 2px solid #ddd;
  height: 45px;
  width: 200px;
  color: var(--gray-400);
  padding: 0 10px;
  position: relative;
  background: url(/images/drop_down_arrow.svg) no-repeat right 5px top 50%;
  cursor: pointer;
}
#container .other_search .search_btn {
  border: 2px solid #ddd;
  width: 60px;
  height: 45px;
  color: var(--gray-400);
  padding: 10px;
  cursor: pointer;
}
/*** 병원 목록 ***/
#container .list  {
  width: 100%;
  border: 4px solid #005ad5;
  border-radius: 10px;
  padding: 30px;
}
#container .list h1 {
  margin: 150px 0;
  font-size: 30px;
  text-align: center;
  color: #666;
}
/*** 병원 컬럼 ***/
#container .hospital li {
  width: 100%;
  height: 260px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  margin-bottom: 20px;
}
#container .hospital li:last-child {
  margin-bottom: 0;
}
#container .hospital li a {
  display: block;
  width: 100%;
  height: 260px;
  position: absolute;
  left: 0;
  top: 0;
}
/*** 사진 ***/
#container .hospital>li>.img {
  display: block;
  width: 200px;
  height: 200px;
  border: 2px solid #ddd;
  background: url(/images/doctor.svg) no-repeat 0 0 / 100%;
}
/*** 병원 정보 ***/
#container .hospital .info {
  padding: 5px 0 5px 50px;
}
/*** 병원 이름, 인증마크 ***/
#container .hospital .hosp_name {
  display: flex;
  gap: 0 10px;
}
#container .hospital .hosp_name h3 {
  font-size: 35px;
  font-weight: 700;
}
#container .hospital .approve {
  display: block;
  width: 40px;
  height: 40px;
  background: url(/images/approve.svg) no-repeat 0 0 / 100%;
}
/*** 병원 추가 정보 ***/
#container .hospital .detail {
  margin-top: 20px;
  font-size: 25px;
}
#container .hospital .detail p {
  display: block;
}
#container .hospital .depart {
  color: var(--gray-400);
  margin-bottom: 10px;
}
#container .hospital .address {
  /*** 말줄임처리 ***/
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*** 별점, 좋아요/댓글 수 ***/
#container .hospital .info_right {
  position: absolute;
  right: 30px;
  top: 30px;
}
#container .hospital .star {
  display: flex;
  gap: 0 5px;
  font-size: 25px;
  margin-bottom: 10px;
}
#container .hospital .star>p {
  display: block;
  margin-top: 2px;
  font-size: 27px;
}
#container .hospital .right_down  {
  display: flex;
  gap: 0 70px;
  justify-content: right;
}
#container .hospital .right_down p {
  font-size: 27px;
  position: relative;
}
#container .hospital .right_down p::before {
  content: '';
  display: block;
  width: 27px;
  height: 27px;
  position: absolute;
  left: -35px;
  top: 4px;
}
#container .hospital .right_down p.like::before {
  background: url(/images/heart.svg) no-repeat 50% 50% / 110%;
}
#container .hospital .right_down p.comm::before {
  background: url(/images/comment.svg) no-repeat 50% 50% / 110%;
}
/*** 해시태그 ***/
#container .hospital .hash {
  display: flex;
  gap: 0 20px;
  margin-top: 20px;
}
#container .hospital .hash>p {
  display: block;
  font-size: 25px;
  background: var(--point-color1);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}


/*** 게시판 - 페이지네이션 ***/
#container .pagination {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}